{% extends 'app/base.html' %}

{% block nav %}
  {% include 'app/navbar_list.html' %}
{% endblock %}

{% block content %}

<div>
  <a  class="btn btn-outline-secondary btn-lg mb-4 btn-block" href="#">ほっとサポート</a>
  <a  class="btn btn-outline-secondary btn-lg mb-4 btn-block" href="#">ペット保険</a>
  <a  class="btn btn-outline-secondary btn-lg mb-4 btn-block" href="#">用品セット</a>
  <a  class="btn btn-outline-secondary btn-lg mb-4 btn-block" href="#">各種料金表</a>
  <a  class="btn btn-outline-secondary btn-lg mb-4 btn-block" href="#">その他資料</a>
</div>

{% endblock %}
